<section class="ts-section">
  <div class="ts-container">
    <h1 class="ts-page-title">{{ page.title }}</h1>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Main page",
  "settings": [],
  "presets": [
    {
      "name": "Main page"
    }
  ]
}
{% endschema %}

